language: cpp
os: windows
jobs:
  include:
    - stage: Download
      script:
      - uname | grep 'MSYS'
      - curl -o depot_tools.zip https://storage.googleapis.com/chrome-infra/depot_tools.zip
      - unzip depot_tools.zip -d depot_tools
      - rm depot_tools.zip
      - git clone https://webrtc.googlesource.com/src src
      - cd src
    - stage: Sync
      script:
      - export PATH=$PATH:$PWD/depot_tools
      - export DEPOT_TOOLS_WIN_TOOLCHAIN=0
      - gclient sync
    - stage: Build
      script:
      - export PATH=$PATH:$PWD/depot_tools
      - gn gen out/x64/Debug --args="is_clang=false is_debug=true rtc_include_tests=false target_cpu=\"x64\""
      - cd out/x64/Debug
      - autoninja
    - stage: Enumerate
      script:
      - ls -alR
